<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Projects</h4>
    <ul>
      <li class="{% if page.title == "Overview" %}current{% endif %}">
        <a href="{{ site.url }}/projects/home">Overview</a>
      </li>
      <li class="{% if page.title == "BitThunder" %}current{% endif %}">
        <a href="{{ site.url }}/projects/bitthunder">BitThunder</a>
      </li>
	  <li class="{% if page.title == "FullFAT" %}current{% endif %}">
        <a href="{{ site.url }}/projects/fullfat/">FullFAT</a>
      </li>
    </ul>
  </aside>
</div>
